
services:
  openresty:
    image: openresty/openresty:alpine
    container_name: sni-router
    cap_add:
      - NET_ADMIN        # ← erlaubt ip route & iptables
    volumes:
      - ./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./lua:/lua
    ports:
      - "443:443"
    depends_on:
      - redis
    sysctls:
      - net.ipv4.ip_forward=1
    security_opt:
      - apparmor:unconfined   # manchmal nötig auf Ubuntu/Debian Hosts
    command: >
      sh -c "
        ip route add 10.200.0.0/24 via 172.42.0.3 &&
        openresty -g 'daemon off;'
      "
    networks:
      vpnnet:
        ipv4_address: 172.42.0.2
      default: {}

  redis:
    image: redis:alpine
    container_name: sni-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - default

  wireguard:
    image: linuxserver/wireguard 
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - TZ=Europe/Berlin
    volumes:
      - ./config:/config
    ports:
      - "51820:51820/udp"
    sysctls:
      - net.ipv4.ip_forward=1
    restart: unless-stopped
    networks:
      vpnnet:
        ipv4_address: 172.42.0.3
      default: {}



networks:
  default:
    name: sni-net
  vpnnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.42.0.0/24



